page-find-reality-agent-success {
    .pattern-enabled-container {
      margin-top: 3rem;
      text-align: center;
      h2 {
        font-family: $pf-montserrat-semi-bold;
        font-size: 1.6rem;
        color: $pf-mobile-green;
        letter-spacing: 1px;
        margin-top: 1rem;
        text-transform: capitalize;
      }
    }

//   .successMsg {
//     padding: 0 1.6rem;
//     font-size: 1.6rem;
//     font-family: $pf-montserrat-regular
//   }
//   .scroll-content {
//     background: $pf-mobile-light-grey;
//     padding: 0!important;
//   }
//   /* product header styles */
//   .pageHeader {
//     background-color: $pf-mobile-dark-blue;
//     color: $pf-mobile-white;
//     font-family: $pf-montserrat-semi-bold;
//     min-height: 46px;
//     .ion-title {
//       .toolbar-title {
//         font-size: 16px;
//         letter-spacing: 2px;
//         padding-left: 0;
//         text-align: left;
//       }
//     }
//     .ion-md-menu,
//     .ion-ios-mail {
//       font-size: 2.4rem;
//     }
//     .button {
//       background-color: transparent;
//       height: 3.3rem;
//     }
//   }
//
//   .buttons-position {
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     text-align: center;
//     position: absolute;
//     bottom: 7rem;
//   }
//
//   .common-button {
//     margin-top: 2.1rem;
//     width: 22.5rem;
//     height: 5rem !important;
//     border-radius: 4px;
//
//     .button-inner {
//       font-family: $pf-montserrat-semi-bold;
//       letter-spacing: 1px;
//       color: $pf-mobile-white;
//     }
//   }
//   .footer::before{
//     background-image:none;
//   }
//   .legal{
//     margin-left: 1.1rem;
//   }
}
