<ion-header>
  <pf-header leftIcon="back">
    <pf-header-title class="textElipse">ACCOUNT UNLOCKED</pf-header-title>
  </pf-header>
</ion-header>

<ion-content>
  <div class="text-16 text-bold" padding>
    CREATE NEW PASSWORD
  </div>
  <form [formGroup]="changePasswordForm">
    <div padding-left>
      <ion-row class="label-row">
        <ion-col no-padding>
          <ion-label for="newpassword" class="input-label" stacked>NEW PASSWORD</ion-label>
          <ion-item no-padding>
            <ion-input type="password" clearOnEdit="false" formControlName="newpassword" name="newpassword" [formGroup]="changePasswordForm" clearInput="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="pf-form-field-error" *ngIf="changePasswordForm.get('newpassword').hasError('required') && changePasswordForm.get('repeatpassword').dirty">
        Please input your new password.
      </div>
      <div class="pf-form-field-error" *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">
        New password should be at least 6 characters.
      </div>
      <div class="pf-form-field-error" *ngIf="changePasswordForm.get('newpassword').hasError('maxlength')">
        New password should be not more than 16 characters.
      </div>
      <div class="pf-form-field-error" *ngIf="changePasswordForm.get('newpassword').hasError('pattern')">
        At least one number must be used.
      </div>
      <div class="pf-form-field-error" *ngIf="changePasswordForm.get('newpassword').hasError('whiteSpace')">
        No spaces allowed.
      </div>
    </div>
    <div padding-top>
      <ion-row class="label-row" class="input-label" padding-left>
        <ion-col no-padding>
          <ion-label for="repeatpassword" stacked>CONFIRM PASSWORD</ion-label>
          <ion-item>
            <ion-input type="password" clearOnEdit="false" formControlName="repeatpassword" [(ngModel)]="newPassword" name="repeatpassword" [formGroup]="changePasswordForm" (blur)="onBlurMethod()" clearInput="true"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="pf-form-field-error" *ngIf="display" padding-left>Password does not match.</div>
    </div>
    <div padding-left padding-top>
      <p class="text-13">{{"unlocked.password.info" | aemsync : ["create-newpassword"] | async}}</p>
      <p class="text-13"><b>{{"unlocked-characters.desc" | aemsync : ["create-newpassword"] | async}}</b></p>
      <p class="text-13"><b>{{"unlocked-nospace.desc" | aemsync : ["create-newpassword"] | async}}</b></p>
      <p class="text-13"><b>{{"unlocked-number.desc" | aemsync : ["create-newpassword"] | async}}</b></p>
      <p class="text-13"><b>{{"unlocked-casesensitive.desc" | aemsync : ["create-newpassword"] | async}}</b></p>
    </div>
  </form>
  <div class="push-top-xxl">
    <button block ion-button class="cta-button " [disabled]="changePasswordForm.invalid || buttonValidate" (click)="onSubmit()">CONTINUE</button>
  </div>
</ion-content>
