page-billpay-add-edit-payee {
    form ion-col ion-item.item-md { padding-left: 0px; }
    form ion-col ion-item.item-ios { padding-left: 0px; }
    form ion-col ion-item.item-ios.item-inner { padding-left: 8px; }
}
