<ion-header>
  <ion-row class="common-header">
  	<button ion-button navPop class="nav-icon"><ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon></button>
  	<ion-title>CONFIRM {{pageTitle}}</ion-title>
  </ion-row>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item class="account-list-height">
      <h6 class="h-header">{{pageTitle}} FROM</h6>
      <ion-row col-12 no-padding>
        <ion-col col-6 no-padding text-left class="accountName">{{transferData.accountFrom}}</ion-col>
        <ion-col no-padding text-right class="accountName" *ngIf="EXFlag">${{transferData.accountFromBalance | formatPrice}}</ion-col>
      </ion-row>
      <ion-row col-12 no-padding>
        <ion-col no-padding text-left class="accountNum">({{transferData.accountFromLastFour}})</ion-col>
        <ion-col no-padding text-right class="accountNum" *ngIf="EXFlag">{{transferData.accountFromShowName}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="account-list-height">
      <h6 class="h-header">{{pageTitle}} TO</h6>
      <ion-row col-12 no-padding>
        <ion-col col-6 no-padding text-left class="accountName">{{transferData.accountTo}}</ion-col>
        <ion-col no-padding text-right class="accountName">${{transferData.accountToBalance | formatPrice}}</ion-col>
      </ion-row>
      <ion-row col-12 no-padding>
        <ion-col no-padding text-left class="accountNum">({{transferData.accountToLastFour}})</ion-col>
        <ion-col no-padding text-right class="accountNum">{{transferData.accountToShowName}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="item-amount" class="account-list-height amount-height">
      <ion-row no-padding>
        <ion-col no-padding class="h-header">{{pageTitle}} AMOUNT</ion-col>
        <ion-col no-padding text-right class="accountName">${{transferData.amount | formatPrice}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="item-amount" class="account-list-height amount-height">
      <ion-row no-padding>
        <ion-col no-padding class="h-header">{{pageTitle}} DATE</ion-col>
        <ion-col no-padding text-right class="accountName">{{transferData.date | date: 'MM/dd/yyyy'}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="item-amount" class="account-list-height amount-height">
      <ion-row no-padding>
        <ion-col no-padding class="h-header">FREQUENCY</ion-col>
        <ion-col no-padding text-right class="accountName">{{transferData.frequency | titleCase}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="item-amount" class="account-list-height amount-height">
      <ion-row no-padding>
        <ion-col no-padding class="h-header">NUMBER OF {{pageTitle}}S</ion-col>
        <ion-col no-padding text-right class="accountName">{{transferData.numberOfTransfer}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="description">
    Please note that the debit account selected is limited to 6 transactions (check, transfer, or cash withdrawal) per statement cycle.
  </div>
  <div class="transfer-button">
    <button ion-button block class="cta-button green" (click)="makeTransfer()">MAKE {{pageTitle}}</button>
  </div>
  <p class="insured" tappable (click)='util.displayNCUACert()'>Federally insured by NCUA</p>
</ion-content>
