<div *ngIf="headerParams.pageType; else Standard_Page_Header">
  <ion-grid no-padding>
    <!-- If Check Display Page -->
    <ion-row *ngIf='headerParams.pageType === "CHECK_DISPLAY_PAGE"; else Standard_Nav_Page_Header' class="pageHeader">
      <ion-col col-1>
        <button ion-button (click)="returnToAccounts()" class="backButton">
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11 class="account-name">
        <span>{{pageName}}</span>
        <span>({{headerParams.numLast4}})</span>
        </ion-col>
    </ion-row>

    <ng-template #Standard_Nav_Page_Header>
      <ion-row class="pageHeader">
        <ion-col col-1>
          <button ion-button (click)="returnToAccounts()" class="backButton">
            <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-11 class="account-name">
          <span *ngIf="!headerParams.payload.nickname">{{headerParams.payload.fullName}}</span>
          <span *ngIf="headerParams.payload.nickname">{{headerParams.payload.nickname}}</span>
          <span>({{headerParams.payload.numLast4}})</span>
          </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</div>
<ng-template #Standard_Page_Header>
  <!--IF NONE -->
  <ion-row class="pageHeader" >
    <ion-col col-2>
      <button ion-button menuToggle>
        <ion-icon *ngIf="this.show" ios="ios-close" md="ios-close"></ion-icon>
        <ion-icon *ngIf="!this.show" name="menu"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8 text-center class="ion-title">
        <ion-title><img class="logo-white" src="assets/White.svg" /></ion-title>
    </ion-col>
    <ion-col col-2 text-right>
      <button ion-button (click)='goToInbox()'>
        <ion-icon ios="ios-mail" md="ios-mail"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <!--ENDIF-->
</ng-template>
