page-billpay-payments {
    .item-md [item-right] {
        margin: 0px !important;
    }
    .item-ios [item-right] {
        margin: 0px !important;
    }
    .item-ios [item-start] {
        margin: 0px !important;
    }
}