<ion-header>
  <ion-row class="common-header">
    <button ion-button tappable navPop class="nav-icon">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    <ion-title class="textElipse">CHANGE PASSWORD</ion-title>
  </ion-row>
</ion-header>
<ion-content no-padding>
  <ion-grid no-padding>
    <div class="password-validate push-top-md">
      <div>{{"change.password.info" | aemsync : ["change-password"] | async}}
        <!--The password must adhere to PenFed's password guidelines as follows:-->
      </div>
      <div><b>{{"change.password.characters.desc" | aemsync : ["change-password"] | async}}
        <!--Between 6 and 16 characters long -->
      </b></div>
      <div><b>
        {{"change.password.nospace.desc" | aemsync : ["change-password"] | async}}
      <!--  No spaces-->
      </b></div>
      <div><b>
        {{"change.password.number.desc" | aemsync : ["change-password"] | async}}
      <!--At least 1 number must be used-->
      </b></div>
      <div><b>
        {{"change.password.casesensitive.desc" | aemsync : ["change-password"] | async}}
        <!--Password is case-sensitive-->
      </b></div>
    </div>
    <form [formGroup]="changePasswordForm">
      <div class="form-group push-top-sm">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label color="dark-blue-text" stacked>CURRENT PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "currentPassword" formControlName="currentpassword" [formGroup]="changePasswordForm" clearInput="true" ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label for="newpassword" color="dark-blue-text" stacked>NEW PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "newPassword" formControlName="newpassword" name="newpassword" [formGroup]="changePasswordForm" [disabled]="!changePasswordForm.get('currentpassword').valid" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('required') && changePasswordForm.get('repeatpassword').dirty">
          Please input your new password.
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">
          Password should have at least 6 characters.
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('maxlength')">
          Password should not have more than 16 characters.
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('pattern')">
          Password should have at least one number.
        </div>
        <div class="password-match" *ngIf="changePasswordForm.get('newpassword').hasError('whiteSpace')">
          Password should not have any space.
        </div>
      </div>
      <div class="form-group">
        <ion-row class="label-row">
          <ion-col>
            <ion-list class="password-item" no-lines>
              <ion-item no-padding class="pwdNumber-item">
                <ion-label for="repeatpassword" color="dark-blue-text" stacked>CONFIRM PASSWORD</ion-label>
                <ion-input type="password" clearOnEdit="false" [(ngModel)]= "confirmPassword" formControlName="repeatpassword" name="repeatpassword" [formGroup]="changePasswordForm" [disabled]="!changePasswordForm.get('currentpassword').valid" (ionBlur)="onBlurMethod()" clearInput="true"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="password-match" *ngIf="display">Confirm password does not match with new password.</div>
      </div>
    </form>
    <ion-row class="password-update-button">
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <div>
          <button class="cta-button" ion-button block [disabled]="changePasswordForm.invalid || buttonValidate" tappable (click)="submit()">CHANGE PASSWORD</button>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
