<ion-header>
    <ion-row class="common-header">
        <button navPop class="nav-icon"><ion-icon ios="md-close" md="md-close"></ion-icon></button>
        <ion-title class="textElipse">ALL E-BILLS</ion-title>
    </ion-row>
</ion-header>

<ion-content>
    <ion-grid class="full-height" no-padding>
        <ion-list>
            <!-- <ion-list-header class="pf-mobile-header-sort" item-right>
        <button ion-button class="sort" (click)="openSortOptions()">SORT</button>
      </ion-list-header> -->
            <ion-list-header text-right class="pf-mobile-header-sort pad-right-basic" (click)="openSortOptions()">
                SORT
            </ion-list-header>
            <button ion-item *ngFor="let eBill of eBills | orderBy:order:ascending; let i=index ">
          <ion-row>
            <ion-col class="text-16 text-regular margin-none" item-left>{{eBill.payeeName | truncate : 20}}</ion-col>
            <ion-col class="text-12 text-light margin-none" item-right>{{eBill.billStatus}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-12 text-light margin-none" item-left>Due on {{eBill.dueDateTime | date: 'MM/dd/yyyy'}}</ion-col>
            <ion-col class="text-16 text-regular margin-none"  item-right>{{eBill.dueAmount | currency:'USD':true:'2.2-2'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-12 text-light margin-none" item-left>{{eBill.payeeNickName | truncate : 20}} &nbsp;<span *ngIf="eBill.payeeAccountNumber !== 'n/a' && eBill.payeeAccountNumber !== '?'">({{eBill.payeeAccountNumber.substr(eBill.payeeAccountNumber.length-4)}})</span></ion-col>
          </ion-row>
        </button>
        </ion-list>
    </ion-grid>
</ion-content>