page-billpay-payment-scheduled {
    // ion-item {
    //     background-color: $pf-mobile-light-grey !important;    
    // }

    .top-container {
        margin: 18px 0;
    }
    
    .custom-green {
        color: #539C2F;
    }
    .check-mark-green {
        font-size: 80px;
    }
    .text-16bold {
        font-size: 16px;
        font-weight: bold;
    }
    .text-14dark-grey {
        color: $pf-mobile-dark-grey;
    }
}
